.search-box {
    width: 100%;
    max-width: 1000px;
    display: flex;
    height: 70px;
    background: #ffffff;
    margin: 1px auto 30px;
    border-radius: 60px;
    border: 1px solid #ddd;
    box-shadow: 2px 2px 2px rgb(226, 226, 226);
}

.row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.where-element{
    flex: 3; /* Make these elements take up more space */
}

.who-element {
    flex: 2; /* Make these elements take up more space */
}

.check-element {
    flex: 3; /* Make these elements take up less space */
}

.clickable-element {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 15px;
    cursor: pointer;
    transition: background-color 0.3s, border-radius 0.3s; /* Add transition for border-radius */
    position: relative; /* Ensure relative positioning for suggestion list */
}

.clickable-element:hover {
    background-color: #f0f0f0;
    border-radius: 60px; /* Add border-radius on hover */
}

.label {
    font-weight: bold;
    font-size: 14px;
    color: #000;
    margin-bottom: 5px;
    padding-left: 20px;
}

.destination-input, .date-input, .travellers span {
    font-size: 16px;
    color: #666;
    border: none;
    outline: none;
    width: 100%;
    background: none; /* Ensure background matches the container */
    cursor: pointer;
    padding-left: 20px;
}

.destination-input::placeholder, .date-input::placeholder {
    color: #999;
}

.suggestion-list {
    position: absolute;
    top: 100%;
    left: 0;
    background: #ffffff;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-height: 200px;
    overflow-y: auto;
    z-index: 1000;
}

.suggestion-list ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.suggestion-list li {
    padding: 10px;
    cursor: pointer;
}

.suggestion-list li:hover {
    background: #e9f3ff;
}

.search-button {
    background: #09184C;
    border: none;
    border-radius: 50%;
    color: white;
    padding: 15px;
    font-size: 16px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s;
    margin-right: 10px;
}

.dropdown-menu {
    position: absolute;
    top: 60px;
    left: 0;
    background: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 10px;
    z-index: 1000;
    width: 300px;
}

.dropdown-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

.dropdown-item span {
    font-size: 16px;
    flex: 1;
    text-align: left;
}

.control-group {
    display: flex;
    align-items: center;
    gap: 5px;
    justify-content: space-between;
    width: 100px;
}

.control-group button, .control-group span {
    background: #ffffff;
    border: 1px solid #ccc;
    border-radius: 15px;
    width: 30px;
    height: 30px;
    cursor: pointer;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.apply-button {
    background: #09184C;
    border: none;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 180px;
    width: 100px;
}

  .DateRangePickerInput {
    border: none !important;
    background: none !important;
  }

  .DateInput_input {
    border: 1px solid #ccc;
    padding: 10px;
    font-size: 16px;
    border-radius: 60px;
    transition: box-shadow 0.2s ease-in-out; /* Smooth transition */
  }
  
  .DateInput {
    background: none !important;
    padding: 5px !important;
  }
  
  .DateInput_input {
    background: none !important;
    box-shadow: none !important;
    padding: 5px !important;
  }
  
  .DateInput_input:hover {
    border-color: none;
    box-shadow: 0 0 3px rgba(0, 123, 255, 0.5); /* Smaller shadow effect */
  }
  

/* Hide the default arrow */
.DateRangePickerInput_arrow_svg {
    display: none;
  }
  
  /* Custom divider */
  .DateRangePickerInput_arrow {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px; /* Adjust width as needed */
    height: 100%; /* Full height of the input */
  }
  
  .DateRangePickerInput_arrow:before {
    content: '';
    display: block;
    width: 1px; /* Divider thickness */
    height: 60px; /* Divider height */
    background-color: hsl(0, 2%, 89%); /* Divider color */
    margin: auto; /* Center the divider vertically */
  }
  
  

  