.popular-section {
    padding: 32px;
    text-align: center;
    background-color: white;
    border-top: 1px solid #d4d2d2;
    margin : 0 50px 40px 0;
}
.dt-title-content {
    margin: 0 0 50px 0;
}
.dt-title {
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
    font-weight: bold;
    letter-spacing: .7px;
}
.dt-title > span {
    position: relative;
}
.dt-title span::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 4px;
    background-color: #9D2553;
    border-radius: 8px;
    left: 0;
    bottom: -12px;
}
.dt-description {
    margin: 64px auto 0;
    text-align: center;
    color: rgb(77, 75, 75);
    font-family: 'Rubik', sans-serif;
    font-size: 20px;
    letter-spacing: .8px;
    line-height: 1.8rem;
}
/* Destination Cards */
.dt-cards-content {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 32px;
}
.dt-card {
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centers items vertically */
    align-items: center; /* Centers items horizontally */
    text-align: center;
    font-family: 'Rubik', sans-serif;
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
    transition: transform 0.2s ease-in-out;
}
.dt-card:hover {
    transform: translateY(-10px);
}
.dt-card-img {
    width: 230px;
    height: 230px;
    background-position: center;
    background-size: cover;
    background-color: #DDE5F8;
    border-radius: 30%;
    margin-bottom: 20px;
}
.dt-card-name {
    margin: 12px 0 0 0;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: .7px;
}
.dt-card-title {
    margin: 6px 0 8px;
    color: #494949;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    letter-spacing: .7px;
}
.dt-card-img:hover {
    transform: scale(1.1);
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
}
.slider-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.slick-list {
    width: 900px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.slick-prev:before{
    /* background-color: blue !important; */
    width: 46px;
    height: 46px;
    content: '' !important;
    position: absolute;
    top: -11px;
    left: -40px;
    background-image: url('../Assets/left-arrow.png');
    background-repeat: no-repeat;
    vertical-align: middle;
    background-size: 46px;
    opacity: 1 !important;
    }
.slick-prev:after{
    /* background-color: blue !important; */
    width: 46px;
    height: 46px;
    content: '' !important;
    position: absolute;
    top: -11px;
    left: 950px;
    background-image: url('../Assets/right-arrow.png');
    background-repeat: no-repeat;
    vertical-align: middle;
    background-size: 46px;
    opacity: 1 !important;
    }
