.map-container {
    position: fixed;
    width: 38%;
    height: 72.1%;
    right: 0px;
    bottom: 0px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
