@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');

.reqBookTitle{
    font-weight: 600;
    font-size: 40px;
}

.reqbox{
    font-family: "Figtree", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
}

